## IDS 472 Homework 1 (Due 2/9/25)

Question 1

In [1]:
import pandas as pd 

from sklearn.model_selection import train_test_split 

from sklearn.neighbors import KNeighborsClassifier as KNN 

from sklearn.preprocessing import OrdinalEncoder, LabelEncoder

In [ ]:
data = pd.read_csv('/Users/arturoperezespinosa/Downloads/ToyotaCorolla.csv') # Arthur
data.dtypes

Q 1.a

In [123]:
data['Color'].unique() # 10 unique values

array(['Blue', 'Silver', 'Black', 'White', 'Grey', 'Red', 'Green',
       'Yellow', 'Violet', 'Beige'], dtype=object)

In [124]:
data['Fuel_Type'].unique() # 3 unique values

array(['Diesel', 'Petrol', 'CNG'], dtype=object)

In [125]:
dummy_color = pd.get_dummies(data['Color'])
data = pd.concat([data, dummy_color], axis=1)
dummy_fuel = pd.get_dummies(data['Fuel_Type'])
data = pd.concat([data, dummy_fuel], axis=1)
data 

# We can convert categorical variables into dummies by utilizing pd's get_dummies method.

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Green,Grey,Red,Silver,Violet,White,Yellow,CNG,Diesel,Petrol
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,False,False,False,False,False,False,False,False,True,False
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,False,False,False,True,False,False,False,False,True,False
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,False,False,False,False,False,False,False,False,True,False
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,False,False,False,False,False,False,False,False,True,False
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,...,False,False,False,False,False,False,False,False,False,True
1432,1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,...,False,True,False,False,False,False,False,False,False,True
1433,1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,...,False,False,False,False,False,False,False,False,False,True
1434,1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,...,False,True,False,False,False,False,False,False,False,True
1435,1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,...,True,False,False,False,False,False,False,False,False,True

In [126]:
data = data.drop(['Color', 'Fuel_Type'], axis=1)
data

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,HP,Met_Color,Automatic,...,Green,Grey,Red,Silver,Violet,White,Yellow,CNG,Diesel,Petrol
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,90,1,0,...,False,False,False,False,False,False,False,False,True,False
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,90,1,0,...,False,False,False,True,False,False,False,False,True,False
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,90,1,0,...,False,False,False,False,False,False,False,False,True,False
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,90,0,0,...,False,False,False,False,False,False,False,False,True,False
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,90,0,0,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,86,1,0,...,False,False,False,False,False,False,False,False,False,True
1432,1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,86,0,0,...,False,True,False,False,False,False,False,False,False,True
1433,1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,86,0,0,...,False,False,False,False,False,False,False,False,False,True
1434,1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,86,1,0,...,False,True,False,False,False,False,False,False,False,True
1435,1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,110,0,0,...,True,False,False,False,False,False,False,False,False,True

Q 1.b

In [127]:
X_train, temp_set = train_test_split(data, test_size=0.5, random_state= 1)
X_validation, X_test = train_test_split(temp_set, test_size=0.4, random_state = 1)

print("Training set size:", len(X_train))
print("Validation set size:", len(X_validation))
print("Test set size:", len(X_test))

Training set size: 718
Validation set size: 430
Test set size: 288

Question 2

Q 2. a

In [128]:
# load the dataset
data = pd.read_csv('/Users/arturoperezespinosa/Downloads/att.csv') # Arthur
print(data.dtypes)

# Picking variables for classifier training
att = data[["employment", "usage", "reachout", "card", "pick"] ]
print(att)
print(att.shape) # we see there are 1000 rows and 5 columns

pick          object
income        object
moves         object
age           object
education     object
employment    object
usage          int64
nonpub        object
reachout      object
card          object
dtype: object
    employment  usage reachout card pick
0            F      9       NO   NO  OCC
1            F      2       NO   NO  ATT
2          NaN      6       NO  YES  OCC
3            R      7       NO   NO  OCC
4            H      0       NO   NO  OCC
..         ...    ...      ...  ...  ...
995          H      8       NO   NO  ATT
996          F      0       NO   NO  OCC
997          F      0       NO   NO  OCC
998          F      2       NO  YES  OCC
999          F      7       NO   NO  ATT

[1000 rows x 5 columns]
(1000, 5)

Q 2.b

In [129]:
missing_rate = att.isnull().mean() *100
missing_rate # the percent of null values in each attribute (column)

employment    2.6
usage         0.0
reachout      1.9
card          1.7
pick          0.0
dtype: float64

Q 2.c

In [130]:
cleaned_att = att.dropna() # dropping all rows with missing values
print(cleaned_att)
print(cleaned_att.shape) # we see there are 955 rows and 5 columns

    employment  usage reachout card pick
0            F      9       NO   NO  OCC
1            F      2       NO   NO  ATT
3            R      7       NO   NO  OCC
4            H      0       NO   NO  OCC
6            F      3       NO   NO  OCC
..         ...    ...      ...  ...  ...
995          H      8       NO   NO  ATT
996          F      0       NO   NO  OCC
997          F      0       NO   NO  OCC
998          F      2       NO  YES  OCC
999          F      7       NO   NO  ATT

[955 rows x 5 columns]
(955, 5)

Q 2.d

In [131]:
# Stratifying test and train data

train_set, test_set = train_test_split(cleaned_att, test_size = 0.2, random_state = 100, stratify = cleaned_att["pick"]) # Using 80% of the data for training purposes

Q 2.e

In [132]:
# Encoding qualitative variables to numeric variables 

categorical_features = ["employment", "usage", "reachout", "card"]

ordinal_encoder = OrdinalEncoder(handle_unknown = "use_encoded_value", unknown_value = -1) # Handle unmapped values to continue processing

train_set.loc[:, categorical_features] = ordinal_encoder.fit_transform(train_set[categorical_features])

test_set.loc[:, categorical_features] = ordinal_encoder.transform(test_set[categorical_features])

In [133]:
# Encoding class variable to numeric variable 

label_encoder = LabelEncoder()

train_set.loc[:, "pick"] = label_encoder.fit_transform(train_set["pick"])

test_set.loc[:, "pick"] = label_encoder.transform(test_set["pick"])

Q 2.f

In [134]:
# 7NN classifier training

X_train, y_train = train_set.drop(columns = ["pick"]), train_set["pick"] # Model learning

X_test, y_test = test_set.drop(columns=["pick"]), test_set["pick"] # Model evaluation

y_train = y_train.astype(int) # Convert to integer for training

y_test = y_test.astype(int) # Convert to integer for training

knn = KNN(n_neighbors = 7)

knn.fit(X_train, y_train)

#  Model accuracy evaluation

accuracy = knn.score(X_test, y_test) # Quantify model accuracy with score method

print(f"7NN Model Accuracy: {accuracy:.3f}")

7NN Model Accuracy: 0.607