# IDS 472 HM2 (Due 02/23/25)
## Artem Larim, Krima Mehta, Ihor Stepura, Arturo Perez

### Question 1

Q 1.a

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

data_bank = pd.read_csv('../data/UniversalBank.csv')
# data_bank = pd.read_csv('../code3/data/UniversalBank.csv') # Krima
# data_bank = pd.read_csv('/Users/arturoperezespinosa/Downloads/UniversalBank.csv') # Arthur

data_bank.head(5)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [2]:
data_bank = data_bank.drop(['ID', 'ZIP Code'], axis=1)

data_bank.head(5)

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [3]:
data_bank.describe()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.00000,5000.000000,5000.000000
mean,45.338400,20.104600,73.774200,2.396400,1.937938,1.881000,56.498800,0.096000,0.104400,0.06040,0.596800,0.294000
std,11.463166,11.467954,46.033729,1.147663,1.747659,0.839869,101.713802,0.294621,0.305809,0.23825,0.490589,0.455637
min,23.000000,-3.000000,8.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,35.000000,10.000000,39.000000,1.000000,0.700000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,45.000000,20.000000,64.000000,2.000000,1.500000,2.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.000000
75%,55.000000,30.000000,98.000000,3.000000,2.500000,3.000000,101.000000,0.000000,0.000000,0.00000,1.000000,1.000000
max,67.000000,43.000000,224.000000,4.000000,10.000000,3.000000,635.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [4]:
dummies = pd.get_dummies(data_bank['Education'])

dummies.columns = ['Education_1', 'Education_2', 'Education_3']

data_bank = pd.concat([data_bank, dummies], axis=1)

data_bank = data_bank.drop(['Education'], axis=1)

data_bank.rename(columns={'1':'Education_1', '2': 'Education_2', '3': 'Education_3'})

data_bank.head(5)

,Age,Experience,Income,Family,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Education_1,Education_2,Education_3
0,25,1,49,4,1.6,0,0,1,0,0,0,True,False,False
1,45,19,34,3,1.5,0,0,1,0,0,0,True,False,False
2,39,15,11,1,1.0,0,0,0,0,0,0,True,False,False
3,35,9,100,1,2.7,0,0,0,0,0,0,False,True,False
4,35,8,45,4,1.0,0,0,0,0,0,1,False,True,False

In [5]:
X_train, X_val, = train_test_split(data_bank, test_size=0.4, random_state= 1)

print(X_train.shape, X_val.shape)

(3000, 14) (2000, 14)

In [6]:
y_train = data_bank.loc[X_train.index, "Personal Loan"]

X_train = X_train.drop("Personal Loan", axis=1)

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)

In [7]:
new_customer = {
    'Age': 40,
    'Experience': 10,
    'Income': 84,
    'Family': 2,   
    'CCAvg': 2,
    'Mortgage': 0,
    'Securities Account': 0,
    'CD Account': 0,
    'Online': 1,
    'CreditCard': 1,
    'Education_1': 0,
    'Education_2': 1,
    'Education_3': 0
}

df_nc = pd.DataFrame([new_customer])

df_ncs = scaler.transform(df_nc)

knn = KNN(n_neighbors=1)

knn.fit(X_train_scaled, y_train)

prediction = knn.predict(df_ncs)

if prediction[0] == 1:

    print("Prediction: Customer will get a loan.")

else:
    
    print("Prediction: Customer will NOT get a loan.")

Prediction: Customer will NOT get a loan.

Q 1.b

In [8]:
best_k = None

best_test_acc = 0

best_train_test_gap = float("inf")

y_val = X_val["Personal Loan"]

X_val = X_val.drop("Personal Loan", axis=1)

X_val_scaled = scaler.transform(X_val)

K_val = [1, 3, 9, 36]

K_val_filtered = [k for k in K_val if k > 1 and k < 36]

for K in K_val:
    
    knn = KNN(n_neighbors=K)

    knn.fit(X_train_scaled, y_train)

    train_acc = knn.score(X_train_scaled, y_train)

    test_acc = knn.score(X_val_scaled, y_val)

    gap = train_acc - test_acc  

    print(f'Training accuracy of K={K} is {train_acc:.3f}')

    print(f'Test accuracy of K={K} is {test_acc:.3f}')
    
    if K in K_val_filtered:

      if test_acc > best_test_acc:  
            
            best_k = K
            
            best_test_acc = test_acc
            
            best_gap = gap  
      
      elif test_acc == best_test_acc and gap < best_train_test_gap:  
            
            best_k = K

            best_train_test_gap = gap  

print(f'\nBest K is: {best_k} with test accuracy={best_test_acc:.3f} and test-train gap={best_gap:.3f}')

Training accuracy of K=1 is 1.000
Test accuracy of K=1 is 0.955
Training accuracy of K=3 is 0.977
Test accuracy of K=3 is 0.954
Training accuracy of K=9 is 0.965
Test accuracy of K=9 is 0.948
Training accuracy of K=36 is 0.941
Test accuracy of K=36 is 0.933

Best K is: 3 with test accuracy=0.954 and test-train gap=0.023

Q 1.c (but we can test less accurate model, like K=36, for example)

In [9]:
new_customer_2 = {
    'Age': 40,
    'Experience': 10,
    'Income': 84,
    'Family': 2,
    'CCAvg': 2,
    'Mortgage': 0,
    'Securities Account': 0,
    'CD Account': 0,
    'Online': 1,
    'CreditCard': 1,
    'Education_1': 0,
    'Education_2': 1,
    'Education_3': 0,
}

df_nc2 = pd.DataFrame([new_customer_2])

df_ncs2 = scaler.transform(df_nc2)

knn = KNN(n_neighbors=3) # K selection from 1.b

knn.fit(X_train_scaled, y_train)

prediction2 = knn.predict(df_ncs2)

if prediction2[0] == 1:

    print("Prediction: Customer will get a loan.")

else:
    
    print("Prediction: Customer will NOT get a loan.")

Prediction: Customer will NOT get a loan.

Result is still the same

### Question 2

In [10]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

data_bank_lda = pd.read_csv('../data/UniversalBank.csv')
data_bank_lda = data_bank_lda.drop(['ID','ZIP Code'], axis=1)

dummies = pd.get_dummies(data_bank_lda['Education'])
dummies.columns = ['Education_1', 'Education_2', 'Education_3']
data_bank_lda = pd.concat([data_bank_lda, dummies], axis=1)
data_bank_lda = data_bank_lda.drop(['Education'], axis=1)
data_bank_lda.rename(columns={'1':'Education_1', '2': 'Education_2', '3': 'Education_3'})

,Age,Experience,Income,Family,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Education_1,Education_2,Education_3
0,25,1,49,4,1.6,0,0,1,0,0,0,True,False,False
1,45,19,34,3,1.5,0,0,1,0,0,0,True,False,False
2,39,15,11,1,1.0,0,0,0,0,0,0,True,False,False
3,35,9,100,1,2.7,0,0,0,0,0,0,False,True,False
4,35,8,45,4,1.0,0,0,0,0,0,1,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,29,3,40,1,1.9,0,0,0,0,1,0,False,False,True
4996,30,4,15,4,0.4,85,0,0,0,1,0,True,False,False
4997,63,39,24,2,0.3,0,0,0,0,0,0,False,False,True
4998,65,40,49,3,0.5,0,0,0,0,1,0,False,True,False
4999,28,4,83,3,0.8,0,0,0,0,1,1,True,False,False

In [11]:
X = data_bank_lda.drop('Personal Loan', axis=1)
y = data_bank_lda['Personal Loan']

X_train, X_val, y_train, y_val = train_test_split(X, y, 
                                                  test_size=0.4, 
                                                  random_state=100, 
                                                  stratify=y)


continuous_vars = ['Age', 'Experience', 'Income', 'CCAvg', 'Mortgage']

train_data = X_train.copy()
train_data['Personal Loan'] = y_train

summary_continuous = train_data.groupby('Personal Loan')[continuous_vars].agg(['mean', 'std'])
print("\nSummary Statistics for Continuous Predictors:")
print(summary_continuous)

categorical_vars = ['Family', 'Securities Account', 'CD Account', 'Online', 'CreditCard', 'Education_1', 'Education_2', 'Education_3'] 

print("\nSummary Statistics for Categorical Predictors (Percentage Distribution):")
for var in categorical_vars:
    print(f"\nVariable: {var}")
    
    percentages = train_data.groupby('Personal Loan')[var].value_counts(normalize=True).rename('Percentage').mul(100)
    print(percentages)

Summary Statistics for Continuous Predictors:
                     Age            Experience                 Income  \
                    mean        std       mean        std        mean
Personal Loan
0              45.300885  11.527564  20.071165  11.505316   66.431047
1              45.263889  11.566795  20.069444  11.517992  142.756944

                             CCAvg              Mortgage
                     std      mean       std        mean         std
Personal Loan
0              40.642367  1.733739  1.565693   51.210546   92.356966
1              31.595494  3.837465  2.014992  100.975694  156.978336

Summary Statistics for Categorical Predictors (Percentage Distribution):

Variable: Family
Personal Loan  Family
0              1         29.719764
               2         26.585546
               4         23.967552
               3         19.727139
1              4         31.250000
               3         26.041667
               2         21.875000
               1         20.833333
Name: Percentage, dtype: float64

Variable: Securities Account
Personal Loan  Securities Account
0              0                     89.528024
               1                     10.471976
1              0                     87.847222
               1                     12.152778
Name: Percentage, dtype: float64

Variable: CD Account
Personal Loan  CD Account
0              0             96.091445
               1              3.908555
1              0             69.791667
               1             30.208333
Name: Percentage, dtype: float64

Variable: Online
Personal Loan  Online
0              1         60.140118
               0         39.859882
1              1         62.152778
               0         37.847222
Name: Percentage, dtype: float64

Variable: CreditCard
Personal Loan  CreditCard
0              0             70.943953
               1             29.056047
1              0             67.708333
               1             32.291667
Name: Percentage, dtype: float64

Variable: Education_1
Personal Loan  Education_1
0              False          55.567847
               True           44.432153
1              False          80.208333
               True           19.791667
Name: Percentage, dtype: float64

Variable: Education_2
Personal Loan  Education_2
0              False          73.193215
               True           26.806785
1              False          57.986111
               True           42.013889
Name: Percentage, dtype: float64

Variable: Education_3
Personal Loan  Education_3
0              False          71.238938
               True           28.761062
1              False          61.805556
               True           38.194444
Name: Percentage, dtype: float64

In [12]:
lda = LDA()
lda.fit(X_train, y_train)

y_pred = lda.predict(X_val)
y_pred_proba = lda.predict_proba(X_val)[:, 1]  


accuracy = accuracy_score(y_val, y_pred)
print("\nModel Performance on Validation Set:")
print("Accuracy: {:.2f}%".format(accuracy * 100))

conf_matrix = confusion_matrix(y_val, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

Model Performance on Validation Set:
Accuracy: 94.45%
Confusion Matrix:
[[1775   33]
 [  78  114]]

In [13]:
tn, fp, fn, tp = conf_matrix.ravel()
print("\nMisclassification Analysis:")
print(f"False Positives (non-acceptors predicted as acceptors): {fp}")
print(f"False Negatives (acceptors predicted as non-acceptors): {fn}")

if fn > fp:
    print("The model is more likely to miss actual loan acceptors (higher false negatives).")
elif fp > fn:
    print("The model is more likely to incorrectly predict acceptance for non-acceptors (higher false positives).")
else:
    print("Misclassification rates are balanced between the two classes.")

Misclassification Analysis:
False Positives (non-acceptors predicted as acceptors): 33
False Negatives (acceptors predicted as non-acceptors): 78
The model is more likely to miss actual loan acceptors (higher false negatives).

### Question 3

In [14]:
#imports 
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

In [15]:
# adding dataset 

ebay_df = pd.read_csv('../data/eBayAuctions.csv') # Krima
# ebay_df = pd.read_csv("eBayAuctions.csv") #Ihor
# auction_data = pd.read_csv('/Users/arturoperezespinosa/Downloads/eBayAuctions.csv') # Arthur

ebay_df.head()

,Category,currency,sellerRating,Duration,endDay,ClosePrice,OpenPrice,Competitive?
0,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
1,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
2,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
3,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0
4,Music/Movie/Game,US,3249,5,Mon,0.01,0.01,0

3.a

In [16]:
# Convert "Competitive?" to numeric 
ebay_df["Competitive"] = ebay_df["Competitive?"].apply(lambda x: 1 if x == 1 else 0)

print("HEAD:\n",ebay_df.head(), "\n" )
print("DESCRIPTION:\n", ebay_df.describe(include='all'))

HEAD:
            Category currency  sellerRating  Duration endDay  ClosePrice  \
0  Music/Movie/Game       US          3249         5    Mon        0.01
1  Music/Movie/Game       US          3249         5    Mon        0.01
2  Music/Movie/Game       US          3249         5    Mon        0.01
3  Music/Movie/Game       US          3249         5    Mon        0.01
4  Music/Movie/Game       US          3249         5    Mon        0.01

   OpenPrice  Competitive?  Competitive
0       0.01             0            0
1       0.01             0            0
2       0.01             0            0
3       0.01             0            0
4       0.01             0            0

DESCRIPTION:
                 Category currency  sellerRating     Duration endDay  \
count               1972     1972   1972.000000  1972.000000   1972
unique                18        3           NaN          NaN      7
top     Music/Movie/Game       US           NaN          NaN    Mon
freq                 403     1292           NaN          NaN    548
mean                 NaN      NaN   3560.238337     6.486308    NaN
std                  NaN      NaN   5973.011033     2.052906    NaN
min                  NaN      NaN      0.000000     1.000000    NaN
25%                  NaN      NaN    595.000000     5.000000    NaN
50%                  NaN      NaN   1853.000000     7.000000    NaN
75%                  NaN      NaN   3380.000000     7.000000    NaN
max                  NaN      NaN  37727.000000    10.000000    NaN

         ClosePrice    OpenPrice  Competitive?  Competitive
count   1972.000000  1972.000000   1972.000000  1972.000000
unique          NaN          NaN           NaN          NaN
top             NaN          NaN           NaN          NaN
freq            NaN          NaN           NaN          NaN
mean      36.449087    12.926268      0.540568     0.540568
std       89.493858    38.856149      0.498478     0.498478
min        0.010000     0.010000      0.000000     0.000000
25%        4.907500     1.230000      0.000000     0.000000
50%        9.995000     4.500000      1.000000     1.000000
75%       28.000000     9.990000      1.000000     1.000000
max      999.000000   999.000000      1.000000     1.000000

In [17]:
#pivot tables
pivot_category = ebay_df.pivot_table(index="Category", values="Competitive", aggfunc="mean")
pivot_currency = ebay_df.pivot_table(index="currency", values="Competitive", aggfunc="mean")
pivot_endday   = ebay_df.pivot_table(index="endDay", values="Competitive", aggfunc="mean")
pivot_duration = ebay_df.pivot_table(index="Duration", values="Competitive", aggfunc="mean")

print("PIVOT TABLES")
print("Mean of Competitive by Category:\n", pivot_category, "\n")
print("Mean of Competitive by currency:\n", pivot_currency, "\n")
print("Mean of Competitive by endDay:\n", pivot_endday, "\n")
print("Mean of Competitive by Duration:\n", pivot_duration,)    

# Generate pivot tables with for loop                                    ## we have to pick if we should use the top or the bottom one ##
# categorical_vars = ["Category", "currency", "endDay", "Duration"]
# for var in categorical_vars:
#     pivot_table = ebay_df.pivot_table(values="Competitive?", index=var, aggfunc="mean")
#     print(f"Pivot Table for {var}: {pivot_table}")

# Convert categorical features into dummy variables for logistic regression
ebay_df_dummies = pd.get_dummies( ebay_df, columns = ["Category", "currency", "endDay", "Duration"], drop_first=False)

PIVOT TABLES
Mean of Competitive by Category:
                       Competitive
Category
Antique/Art/Craft        0.564972
Automotive               0.353933
Books                    0.500000
Business/Industrial      0.666667
Clothing/Accessories     0.504202
Coins/Stamps             0.297297
Collectibles             0.577406
Computer                 0.666667
Electronics              0.800000
EverythingElse           0.235294
Health/Beauty            0.171875
Home/Garden              0.656863
Jewelry                  0.365854
Music/Movie/Game         0.602978
Photography              0.846154
Pottery/Glass            0.350000
SportingGoods            0.725806
Toys/Hobbies             0.529915

Mean of Competitive by currency:
           Competitive
currency
EUR          0.551595
GBP          0.687075
US           0.519350

Mean of Competitive by endDay:
         Competitive
endDay
Fri        0.466899
Mon        0.673358
Sat        0.427350
Sun        0.485207
Thu        0.603960
Tue        0.532164
Wed        0.480000

Mean of Competitive by Duration:
           Competitive
Duration
1            0.521739
3            0.450704
5            0.686695
7            0.489142
10           0.544554

In [18]:
# Identify target and feature columns
# We'll assume "Competitive" is our target. If not, use "Competitive?" directly if it's 0/1.
if "Competitive" in ebay_df_dummies.columns:
    y = ebay_df_dummies["Competitive"]
else:
    y = ebay_df_dummies["Competitive?"]

# For the full model, we keep "ClosePrice" in the feature set
X_full = ebay_df_dummies.drop(columns=["Competitive", "Competitive?"], errors="ignore")

3.b

In [19]:
X_train_full, X_val_full, y_train_full, y_val_full = train_test_split(
    X_full, y, test_size=0.4, random_state=123, stratify=y)

print("DATA SPLIT")
print("Training set size:", X_train_full.shape[0])
print("Validation set size:", X_val_full.shape[0])

DATA SPLIT
Training set size: 1183
Validation set size: 789

In [20]:
#Fit logistic regression with ALL predictors (including ClosePrice)
log_full = LogisticRegression(solver="liblinear", max_iter=1000)
log_full.fit(X_train_full, y_train_full)

# Evaluate on validation set
y_val_pred_full = log_full.predict(X_val_full)
acc_full = accuracy_score(y_val_full, y_val_pred_full)
cm_full = confusion_matrix(y_val_full, y_val_pred_full)

print("FULL MODEL")
print("Validation Accuracy (all predictors):", acc_full)
print("Confusion Matrix:\n", cm_full)

FULL MODEL
Validation Accuracy (all predictors): 0.7566539923954373
Confusion Matrix:
 [[294  68]
 [124 303]]

3.c

In [21]:
X_no_price = X_full.drop(columns=["ClosePrice"])
X_train_np, X_val_np, y_train_np, y_val_np = train_test_split(
    X_no_price,
    y,
    test_size=0.4,
    random_state=123,
    stratify=y
)

log_no_price = LogisticRegression(solver="liblinear", max_iter=1000)
log_no_price.fit(X_train_np, y_train_np)

y_val_pred_np = log_no_price.predict(X_val_np)
acc_no_price = accuracy_score(y_val_np, y_val_pred_np)
cm_no_price = confusion_matrix(y_val_np, y_val_pred_np)

print("NO-PRICE MODEL")
print("Validation Accuracy (excluding ClosePrice):", acc_no_price)
print("Confusion Matrix:\n", cm_no_price)

NO-PRICE MODEL
Validation Accuracy (excluding ClosePrice): 0.6108998732572877
Confusion Matrix:
 [[211 151]
 [156 271]]

In [22]:
print("Comparison:")
print("  Full model accuracy:", acc_full)
print("  No-price accuracy:", acc_no_price)

# we can see the full model accuracy is better than the no-price accuracy

Comparison:
  Full model accuracy: 0.7566539923954373
  No-price accuracy: 0.6108998732572877

3.d

In [23]:
# Identify the index of 'ClosePrice'
close_price_index = list(X_train_full.columns).index("ClosePrice")
close_price_coef  = log_full.coef_[0][close_price_index]
print("COEFFICIENT FOR CLOSEPRICE")
print("ClosePrice Coefficient:", close_price_coef, "\n")

# The closing Price (9.23 %) is statistically significant since the Coefficient
#   is less than significance level (10%).

COEFFICIENT FOR CLOSEPRICE
ClosePrice Coefficient: 0.09229668040490971

3.e

In [24]:
# Use L1-regularized logistic regression + GridSearchCV
log_l1 = LogisticRegression(penalty="l1", solver="liblinear", max_iter=1000)
param_grid = {"C": [0.01, 0.1, 1, 10, 100]}

grid_l1 = GridSearchCV(log_l1, param_grid, cv=5, scoring="accuracy")
grid_l1.fit(X_train_full, y_train_full)

best_l1_model = grid_l1.best_estimator_
y_val_pred_l1 = best_l1_model.predict(X_val_full)
acc_l1 = accuracy_score(y_val_full, y_val_pred_l1)

print("L1 Regularization")
print("Best C:", grid_l1.best_params_["C"])
print("Validation Accuracy with L1:", acc_l1)
print("Coefficients:\n", best_l1_model.coef_)

L1 Regularization
Best C: 0.01
Validation Accuracy with L1: 0.8098859315589354
Coefficients:
 [[-3.91703118e-05  6.75907106e-02 -9.03229191e-02  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
   0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00]]

#3.f

In [25]:
# I would say duration because that there is signficance difference in the L1 regularization